@import url('https://fonts.googleapis.com/css?family=Caveat|Montserrat:300,300i,900&subset=cyrillic');

/* reset styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Styles */
body {
    font-family: 'Montserrat', sans-serif;
    min-height: 740px;
    font-weight: 300;

    background: white;

    -webkit-font-smoothing: subpixel-antialiased !important;

/*    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));*/
}

b, strong { font-weight: bold }
i, em { font-style: italic }

a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}


/* Browsers supprot */
.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

/* hint */
.hint {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 200px;

    background: rgba(1,107,79,0.5);
    color: #EEE;
    text-align: center;

    font-size: 30px;
    padding: 20px;

    z-index: 100;

    opacity: 0;

    -webkit-transform: translateY(400px);
    -moz-transform:    translateY(400px);
    -ms-transform:     translateY(400px);
    -o-transform:      translateY(400px);
    transform:         translateY(400px);

    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}
.impress-enabled .hint { display: block }
.impress-on-bored .hint {

    opacity: 1;

    -webkit-transform: translateY(0px);
    -moz-transform:    translateY(0px);
    -ms-transform:     translateY(0px);
    -o-transform:      translateY(0px);
    transform:         translateY(0px);

    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
    transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }

/* Slide */
.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: Montserrat, georgia, serif;
    font-size: 30px; 
    line-height: 1.5;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.slide {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    background-color: white;
    border-radius: 10px;

    /*color: rgb(102, 102, 102);*/
    /*text-shadow: 0 2px 2px rgba(0, 0, 0, .1);*/

    font-family: Montserrat, Arial, sans-serif;
    font-size: 30px;
    line-height: 1.45;
    letter-spacing: -1px;
    font-weight: 300;
}
 
.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}

.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}

/* Последний слайд - обзорный */
#overview { display: none }


/* Кастомные слайды */

#welcome.slide{
    background: url('/img/first-slide-bg-green.jpg') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
#welcome { color: white; }

#welcome h1{
    font-size: 58px;
    text-align: center;
    margin-top: 30%;
}
#welcome .small {
    font-size: 28px;
    text-align: center;
    /*margin-top: 20px;*/
    font-weight: 300;
}

#welcome .flags {
    display: block;
    margin-top: 20%;
    text-align: center;
}

/* Второй слайд */
#feb-23 {
    background: url('/img/plane.png') no-repeat;
    -webkit-background-size: contain;
    background-size: 70%;
    background-position: 100% 0%;
    line-height: 1.45;
}
#feb-23 h2 {
    font-weight: bold;
    font-size: 60px;
    margin-top: 40%;
}

/* Третий слайд */
#feb-24 h2 {
    font-weight: bold;
    font-size: 60px;
    /*margin-top: 10%;*/
    background: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    display: table;
}

#feb-24 ul li {
    list-style: none;
    font-family: 'Caveat', cursive;
    font-size: 35px;
    line-height: 1.3;
}